/* Custom Nord style */

body {
  font-size: 16px;
  margin-bottom: 105px;
  color: #eceff4;
  background-color: rgb(36, 41, 51);
  font-family: "Source Code Pro", monospace;
}

.container {
  margin-top: 5vh;
  background-color: #2e3440;
  border-radius: 10px;
  padding: 50px;
}
b {
  color: #d8dee9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d8dee9;
  margin-left: -10px;
}
h1 {
  text-align: center;
  margin-bottom: 3vh;
}
pre,
code {
  color: #d8dee9;
  background-color: #3b4252;
  border: 0;
}

footer {
  background-color: rgb(36, 41, 51);
  color: #4c566a;
}
.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: #3b4252;
}
.table-striped > tbody > tr:nth-of-type(2n + 1) {
  background-color: #434c5e;
}
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #4c566a;
}
.table-hover > tbody > tr:hover {
  background-color: #4c566a;
}
.table-bordered {
  border: 1px solid #4c566a;
}
#table-of-contents {
  /*margin-top: 4vh;*/
}
.bs-docs-sidebar.affix {
  position: static;
}

/* All levels of nav */
.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #4c566a;
}
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #bf616a;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #bf616a;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #bf616a;
  background-color: transparent;
  border-left: 2px solid #bf616a;
}
