
:root {
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord14: #b48ead;
	--color-bg: var(--nord0);
	--color-fg: var(--nord5);

  --newtab-background-color: var(--color-bg) !important;
  --newtab-text-primary-color: var(--color-bg) !important;

}
html#main-window {
@-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing") {
	body {
		color: var(--color-fg) !important;
		background-color: var(--color-bg) !important;
		--newtab-search-icon: transparent !important;
	}
	a,
	a:visited,
	a:hover {
		color: #2e3440 !important;
	}
	#newtab-search-text {
		color: var(--color-fg) !important;
		background-color: var(--nord1) !important;
		font-size: 18px !important;
		box-shadow: none !important;
		text-align: center !important;
		border: none !important;
		font-weight: bold !important;
	}

	.search-wrapper input {
		--newtab-textbox-focus-boxshadow: none !important;
		padding-left: 20px !important;
		padding-inline-end: 13px !important;
	}

	.search-wrapper .logo-and-wordmark .wordmark {
		display: none !important;
	}

	.search-wrapper .logo-and-wordmark {
		margin-bottom: 40px !important;
		padding-top: 60px !important;
		opacity: 0.5 !important;
	}

	.search-button {
		background: none !important;
	}

	.prefs-button button {
		fill: var(--nord7) !important;
	}

	.prefs-button button:hover,
	.prefs-button button:focus {
		background-color: transparent !important;
	}

	.contentSearchSuggestionTable {
		display: none !important;
	}
}
:root {
	--in-content-border-active: #88c0d0 !important;
	--in-content-border-active-shadow: none !important;
	--in-content-page-background: #2e3440 !important;
}
